.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: black; 
  min-height: 100vh;
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  color: white;
}

h1 {
  color: #fff;
  margin-bottom: 20px;
}

.tabs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px; 
}

.tabs-header {
  display: flex;
  justify-content: center; 
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  width: 100%;
}

.tab-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  flex: 1;
  text-align: center;
}

.tab-button.active {
  background-color: black;
  color: white;
  font-weight: bold;
}

.tab-button:hover {
  background-color: #9c47fc;
  color: white;
}

.tab-content-container {
  background: white;
  padding: 20px;
  width: 100%; 
  max-width: 600px; 
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  text-align: center; 
}

.tab-content-container p {
  color: black;
  font-size: 16px;
  margin: 0;
}


